@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<p>Це домашня сторінка. Фільтр логування успішно застосовано!@ViewData["LogFilter"]</p>

<h2>Кількість унікальних користувачів: @ViewData["UniqueUserCount"]</h2>